.main{
    text-align: center;
    color: blue;
}
.mid{
    text-align: center;
    color: palevioletred;
}
#para{
    color: red;
}
.one{
    background-image: url("Uzair.jpeg");
    background-attachment: fixed;
    height: 400px;
}
table{
    margin: auto;
    width: 100%;
    border: 1px solid green;
    background-color: rgb(214, 14, 187);
}
th,td{
    border: 1px solid black;
}

